[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/paulsykes/esp-idf
[submodule "components/esp-adf-libs"]
	path = components/esp-adf-libs
	url = https://github.com/espressif/esp-adf-libs
